<html>
 <head>
   <title>Logout</title>
 </head>

 <body>
   <H1>Logout</H1>
   <form action="/admin/password" method="post">
     <input type="hidden" name="logout" value="yes">
     <div>
       <input type="submit" value="Logout">
     </div>
     <input type="hidden" name="nextpage" value="<%=h"#{pageid(@nextpage)}"%>">
     <input type="hidden" name="sessionid" value="<%=h"#{@sessionid}"%>">
   </form>
   <p>
     <div>
      <span><%=h"#{@response}"%></span>
     </div>
   </p>
 </body>
</html>

